canvas {
    width: 100% !important; /* Garante que o canvas use a largura total do contêiner */
    height: 100% !important; /* Garante que o canvas use a altura total do contêiner */
    display: block; /* Remove o espaço em branco ao redor do canvas */
}