<div id="filter">
    <app-filter [units]="units" [selectedUnit]="selectedUnit" (selectedUnitEvent)="onSelectedUnit($event)"
                [years]="years">
    </app-filter>
</div>
<div id="dashboard-geral" *ngIf="!specific">
    <app-chart-assistance-types [assistanceTypes]="assistanceTypes"></app-chart-assistance-types>
    <app-chart-violence-situations-types [violenceSituationsTypes]="violenceSituationsTypes"></app-chart-violence-situations-types>
</div>
<div id="dashboard-specific" *ngIf="specific">
    <div class="quantity-chart-container">
        <app-quantity-chart [unitName]="selectedUnit.nome" [total]="totalAssistanceTypes" [description]="descriptionAssistanceTypes"></app-quantity-chart>
        <app-quantity-chart [unitName]="selectedUnit.nome" [total]="totalViolenceSituationsTypes" [description]="descriptionViolenceSituationsTypes"></app-quantity-chart>
    </div>
    <app-specific-chart-assistance-types [assistanceTypes]="assistanceTypes"></app-specific-chart-assistance-types>
    <app-specific-chart-violence-situation-types [violenceSituationsTypes]="violenceSituationsTypes"></app-specific-chart-violence-situation-types>
</div>