.quantity-chart{
    border: 1px solid #E8EAED;
    border-radius: 10px;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    width: 30vw;
    height: 100%;
    padding: 1vh;
    padding-right: 2vh;
    margin-right: 1vw;
}

.unit-name{
    font-family: 'Arial', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh;
}

.quantity{
    font-family: 'Arial', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    padding-left: 1vh;
    padding-bottom: 1vh;
}

.description{
    font-family: 'Arial', sans-serif;
    font-size: 2vh;
    color: #9098A9;
    padding-left: 1vh;
}