body{
    background-color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: "'Roboto', sans-serif'";
}

.title{
    text-align: center;
}

.chart-container{
    height: 40vh;
    margin-top: 3vh;
}

.chart{
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 100%;
}

.specific-chart-container{
    height: 40vh;
    width: 65vw;
    margin-top: 4vh;
}

.quantity-chart-container{
    display: flex;
    justify-content: flex-start;
    height: 13vh;
}